.section {
    width: 100%;
}

@media (min-width: 960px) {
    .section {
        width: calc(50% - 1.5rem / 2);
    }
}

.metadata {
    width: 100%;
}

.authSectionHeader {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}
