/* Outer elements */
.authority-editor {
    position: relative;
    padding-top: 2rem;
}
.authority-editor__loader-wrap {
    min-height: 300px;
    text-align: center;
    padding-top: 50px;
}

/* Authority groups */
.authority-editor__auth-group-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.authority-editor__auth-group {
    flex: 1 0 300px;
    min-width: calc(50% - 0.75rem);
    max-width: calc(50% - 0.75rem);
    margin-top: 1.5rem;
}
.authority-editor__auth-group:first-child {
    margin-top: 0;
}
.authority-editor__auth-group.scrollable {
    overflow: hidden;
    max-height: 375px;
}
.authority-editor__auth-group.metadata {
    min-width: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 1080px) {
    .authority-editor__auth-group.metadata {
        min-width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .authority-editor__auth-group {
        min-width: 100%;
    }
}

.authority-editor__auth-group-header {
    padding-left: 0.8rem !important;
}

/* Scrollable tables */
.authority-editor__auth-group-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.authority-editor__auth-group-table th,
.authority-editor__auth-group-table td,
.authority-editor__auth-group-table tr,
.authority-editor__auth-group-table thead,
.authority-editor__auth-group-table tbody {
    display: block;
}

.authority-editor__auth-group-table td {
    font-size: 14px;
}

.authority-editor__auth-group-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scrollable .authority-editor__auth-group-table tbody {
    /* Container max-height - header - thead */
    max-height: calc(375px - 101px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.authority-editor__auth-group:not(.scrollable)
    .authority-editor__auth-group-table {
    border-color: transparent;
}

.authority-editor__auth-group:not(.scrollable)
    .authority-editor__auth-group-table
    tbody {
    min-height: calc(375px - 101px);
}

.authority-editor__auth-group-table tbody td,
.authority-editor__auth-group-table thead th {
    float: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollable .authority-editor__auth-group-table tbody td,
.scrollable .authority-editor__auth-group-table thead th {
    width: 100%;
}
.authority-editor__auth-group-table tbody td:first-child,
.authority-editor__auth-group-table thead th:first-child {
    padding: 4px 0 4px 0.8rem;
    box-sizing: border-box;
}

.authority-editor__auth-group-table.columns-1 tbody td:first-child {
    padding-top: 0;
    padding-bottom: 0;
}

.authority-editor__auth-group-table tbody td {
    padding: 0 0;
    border-bottom: 1px solid #e0e0e0;
    line-height: 16px !important;
}

.authority-editor__auth-group-table thead th {
    border-bottom: 2px solid #e0e0e0;
    padding: 4px 0;
    font-size: 14px;
    font-weight: bolder;
}

.authority-editor__auth-group-table thead th:first-child {
    text-align: left;
}
.authority-editor__auth-group-table.columns-5 tbody td:first-child,
.authority-editor__auth-group-table.columns-5 thead th:first-child {
    width: calc(40%);
}

.authority-editor__auth-group-table.columns-5 tbody td,
.authority-editor__auth-group-table.columns-5 thead th {
    width: calc(60% / 4);
}

@media only screen and (max-width: 1050px) {
    .authority-editor__auth-group-table.columns-5 tbody td:first-child,
    .authority-editor__auth-group-table.columns-5 thead th:first-child {
        width: calc(25%);
    }

    .authority-editor__auth-group-table.columns-5 tbody td,
    .authority-editor__auth-group-table.columns-5 thead th {
        width: calc(75% / 4);
    }
}

.authority-editor__placeholder-cell,
.authority-editor__placeholder-cell--error {
    width: 100% !important;
    text-align: center;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}

.authority-editor__placeholder-cell--error {
    color: #f44336;
}

/* Checkboxes */
.authority-editor__auth-checkbox {
    font-size: 14px !important;
}
.authority-editor__auth-checkbox > .icon,
.authority-editor__auth-checkbox--without-label > .icon {
    outline-offset: -2px !important;
    outline-width: 2px !important;
}

.authority-editor__auth-checkbox--without-label {
    justify-content: center !important;
}

.authority-editor__auth-checkbox--without-label > .icon {
    margin: 0 !important;
}

.authority-editor__empty-cell {
    height: 24px;
}

/* Filter bar */
.authority-editor__filterbar {
    display: table;
    width: 100%;
    margin-bottom: 1.5rem;
}
.authority-editor__filter-text-input {
    float: left;
    width: calc(100% - 250px);
    max-width: 400px;
}
.authority-editor__filter-checkbox {
    float: left;
    padding-top: 2.2rem;
    margin-left: 2rem;
}

/* Text highlighting for search */
.authority-editor__search-highlight {
    background-color: #fff59d;
    border-radius: 3px;
}
