.field {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: var(--spacers-dp16);
    padding: var(--spacers-dp12) 0;
    font-size: 14px;
    line-height: 17px;
}

.field:not(:last-child) {
    border-bottom: 1px solid var(--colors-grey300);
}

.label {
    color: var(--colors-grey800);
}

.value {
    color: var(--colors-grey900);
}
