.section:not(:last-child) {
    margin-bottom: var(--spacers-dp32);
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--spacers-dp12);
    margin-bottom: var(--spacers-dp8);
}

.title {
    font-size: 17px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin: 0;
}
