.horizontalPadding {
    padding: 0 var(--spacers-dp8);
}

.grid {
    display: grid;
}

.header, .searchFilterWrapper {
    composes: horizontalPadding;
    padding: var(--spacers-dp8);
}

.headerText {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}

.headerDescription {
    font-size: 14px;
    color: var(--colors-grey800);
    margin: 0;
    margin-top: var(--spacers-dp4);
}

.searchFilterWrapper {
    background: var(--colors-grey100);
}

.wrapper {
    display: inline-block;
    border: 1px solid var(--colors-grey400);
    border-radius: 3px;
    width: 480px;
}

.wrapper.left,
.wrapper.right {
    float: left;
    margin-top: var(--spacers-dp8);
    margin-bottom: var(--spacers-dp8);
}

.wrapper.left {
    margin-right: var(--spacers-dp24);
}

.wrapper.right {
    margin-left: var(--spacers-dp24);
}

.scrollBox {
    max-height: calc(60vh - 154px);
    min-height: calc(300px - 154px);
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttonStrip {
    padding-top: var(--spacers-dp4);
    padding-bottom: var(--spacers-dp8);
    composes: horizontalPadding;
}
