.horizontalPadding {
    padding: 0 var(--spacers-dp12);
}

.grid {
    display: grid;
}

.header {
    composes: horizontalPadding;
}

.headerText {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    margin: 12px 0px;
}

.wrapper {
    display: inline-block;
    border: 1px solid var(--colors-grey400);
    border-radius: 3px;
}

.wrapper.left,
.wrapper.right {
    float: left;
    margin-top: var(--spacers-dp8);
    margin-bottom: var(--spacers-dp8);
    width: calc(50% - var(--spacers-dp24));
}

.wrapper.left {
    margin-right: var(--spacers-dp24);
}

.wrapper.right {
    margin-left: var(--spacers-dp24);
}

.scrollBox {
    max-height: calc(60vh - 154px);
    min-height: calc(300px - 154px);
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttonStrip {
    padding-top: var(--spacers-dp4);
    padding-bottom: var(--spacers-dp8);
    composes: horizontalPadding;
}
