.organisationUnitsNoticeBox {
    width: fit-content;
    margin-top: var(--spacers-dp16);
}

.indentedPasswordFields {
    margin-left: var(--spacers-dp24);
}

.noticeBox {
    max-width: 500px;
    margin-bottom: var(--spacers-dp16);
}
