body {
    background-color: #fbfcfd;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.data-table,
.data-table-pager,
.tree-view.orgunit {
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

.authority-editor__filter-checkbox label {
    font-size: 16px;
}

.entity-list__add-new-entity {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
}
.data-table__rows__row__column {
    white-space: nowrap;
}

.user-list .data-table__rows__row__column:nth-child(1),
.user-list .data-table__rows__row__column:nth-child(2),
.user-list .data-table__rows__row__column:nth-child(3) {
    width: 30%;
}

.user-list .data-table__rows__row__column:nth-child(4) {
    width: 10%;
}

.group-list .data-table__rows__row__column:nth-child(2) {
    width: 10%;
}

.data-table__rows__row__column:last-child {
    max-width: 90px;
    min-width: initial;
}

.data-table__headers__header {
    white-space: nowrap;
}
.search-input input {
    -webkit-appearance: textfield;
}
/* OrgTreeView empty items should look the same as ones with children */
.orgunit.without-children {
    font-size: 14px !important;
    font-weight: normal !important;
}
.orgunit.without-children > div:first-child {
    width: 16px !important;
    height: 13px !important;
}
.page-loader-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
