.pendingAddRow td {
    background-color: var(--colors-green050) !important;
}

.pendingRemoveRow td {
    background-color: var(--colors-red050) !important;
}

.pendingChange {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
}

.pendingChange svg {
    max-height: 12px;
}

.pendingAddRow .pendingChangeDescription {
    color: var(--colors-green700);
}

.pendingRemoveRow .pendingChangeDescription {
    color: var(--colors-red700);
}

tr.row td.actionCell {
    width: 320px;
}