.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100%;
}

.content {
    padding: var(--spacers-dp16);
    background: var(--colors-grey100);
}

.noticeBox {
    margin: auto;
    margin-top: var(--spacers-dp16);
    max-width: 400px;
}
