.nav {
    background: var(--colors-grey200);
    border-right: 1px solid var(--colors-grey400);
}

li.navItem {
    background: inherit;
}

li.navItem:hover {
    background: var(--colors-grey300);
}
