.container {
    margin-bottom: var(--spacers-dp24);
}

.grid {
    display: grid;
    max-width: 1800px;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacers-dp8);
    margin-top: var(--spacers-dp12);
}

.topbar {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp12);
    /* Height of search input is greater than height of small button */
    min-height: 60px;
}

.pagination {
    margin-left: auto;
}
