.scrollBox {
    max-height: 250px;
    min-width: 150px;
    max-width: 350px;
    overflow-y: auto;
}
.inputWrap {
    min-height: 90px;
}
.inputWrapDense {
    padding-top: var(--spacers-dp4);
    min-height: 55px;
}
.refineSearchWarning {
    font-style: italic;
    text-align: center;
    cursor: default !important;
}
